/*HEADER*/





.home__header {

    background-image: url("/images/fondos/lindo-fondo.webp");
}


/*Header nav*/


.header_nav {

    display: flex;
    flex-direction: row;
    justify-content: end;



}

.header_nav li {
    /*listas del nav header*/

    margin: 15px 5px 0px 15px;

    list-style: none;
}


.header_nav li a i {
    /*iconos del nav header*/

    font-size: 30px;
    color: rgb(242, 225, 197);
}


.header_nav li.idioma a {
    /*boton ingles*/


    border: solid 1px white;
    border-radius: 3px;
    font-size: 10px;
    color: #FBF8F1;
}


.header_nav li.idioma a i {
    /* mundo de idioma*/


    font-size: 10px;

}


/*Logos*/
.header__logo_home {
    background-image: url(/images/logos/logo-proyect.png);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 61%;
    border-radius: 50%;
    height: 18vh;
    width: 18vh;
    margin:0px 5px 10px 15px;

}
.header__logo2_home {
    background-image: url(/images/logos/logo-proyect2.png);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    height: 4vh;
    width: 18vh;
    align-self: flex-end;
    margin-bottom: 15px;
    
}


/*Header buscador y hamburguesa*/


header.home__header div.header_buscador {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

/* MENU DESPLEGABLE */

.categorias {
    font-family: "Cinzel";
    background-color: white;
    padding-bottom: 2px;
    /* display:none; *//* para ocultar el menu desplegable */
  }
  
  .categorias a { /* link dentro de las listas */
      display: block;
      font-size: 0.7em;
      text-decoration: none;
      padding:  5px 10px;
      color: black;
     
      
  }
  
  .categorias span i { /* hamburguesa icon */
  
      font-size: 25px;
      color:rgb(53, 51, 51);
      padding:5px;
      background-color: white;
      width: 20%;
      text-align: center;
      
  }
  
  .header_nav_cate ul {
  
      margin-left: 35px ;
      list-style: none;
      display: none;
   
  }
  
  .header_nav_cate ul li.container-submenu a.titulo {/*  categorias titulo */
      
  padding-bottom: 5px;
  color: black;
      
  }
  
  li.container-submenu{
      width: 33vh;
  }
  
  ul.submenu li{
  
      width: 29vh;
     border-bottom: solid 1px grey;
          
  }
  
  a.titulo{
          background-color: #FFE7E7;
  }
  
  a.menu-link{
          background-color:#EFFEFA;
          transition: all 0.2s;
  }
  
  /* efectos al pasar el mouse encima */
  
  a.menu-link:hover{ /* al hacer hover en cda categoria */
  
      background-color: rgb(100, 231, 231);
  }
  .categorias:hover  .header_nav_cate ul {
      
      display: block;
      transition: all 0.5s;
  
   
  
      
  }

/*  BUSCADOR INPUT */


header.home__header div.header_buscador input {
    width: 35vh;
    height: 26px;
    font-family: "cinzel";
    border-radius: 5px;
    border: solid 1px #cfcecc;
    background-color: #FBF8F1;
    padding: 5px;
    align-self: center;
    font-size: 15px;
    margin-left: 20px;
    

}


header.home__header div.header_buscador button.lupa {

    height: 25px;
    border-radius: 5px;
    border: solid 1px #cfcecc;
    background-color: #FBF8F1;
    padding: 5px;
    align-self: center;
    color: rgb(97, 91, 91);

}


/*Header Banner*/


.home__header div.header_banner {

  /*   display: flex; */
  display: none;

}

.home__header div.header_banner-desktop {

    display: none;

}



.home__header div.header_banner img,
div.header_banner-desktop img {

    width: 100%;
    height: 250px;

}