*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/





.home__header{

 background-image: url("/images/lindo-fondo.webp");
}


/*Header nav*/


.header_nav{

    display: flex;
    flex-direction: row;
    justify-content: end;



}

.header_nav li{  /*listas del nav header*/

    margin: 15px 5px 0px 15px;
    
    list-style: none;
}


.header_nav li a i{ /*iconos del nav header*/

    font-size: 30px;
    color: rgb(242, 225, 197);
}


.header_nav li.idioma a{ /*boton ingles*/

    
    border: solid 1px white;
    font-size: 10px;
}


.header_nav li.idioma a i { /* mundo de idioma*/


    font-size: 10px;

}


/*Logos*/



img.logo1{

    border-radius: 50%;
    border: solid 1px var(--colorGrisClaro);
    height: 100px;
    width: 100px;
    margin: 0px 0px 2px 30px;
}


 img.logo2{
   
    padding-bottom: 5px;
    padding-left: 10px;
    height: 25px;
} 


/*Header buscador y hamburguesa*/


header.home__header div.header_buscador{
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
 
}


.header_buscador button.header_burguer{

    margin: 10px 40px 15px 69px; 
    border: none;
    background-color: white;
}


header.home__header div.header_buscador button.header_burguer i {

  
  color: rgb(97, 91, 91);
  font-size: 20px;
  padding: 5px;
}


header.home__header div.header_buscador input{
  
    height: 26px ;
    font-family: "cinzel";
    border-radius: 5px;
    border: solid 1px #cfcecc ;
    background-color: #FBF8F1;
    padding: 5px;
    align-self: center;
    font-size: 15px;
  
  }


header.home__header div.header_buscador button.lupa {

    height: 25px ;
    border-radius: 5px;
    border: solid 1px #cfcecc ;
    background-color: #FBF8F1;
    padding: 5px;
    align-self: center;
    color:rgb(97, 91, 91);
  
  }
  

/*Header Banner*/


.home__header div.header_banner{

  display: flex;  
   /* display :none; 
  */

}

.home__header div.header_banner img{

    width: 100%;
    height: 150px;

}


/*MAIN*/


main.home{

    background-color: var(--colorMainHome);
}


main.home h2{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 520;
    text-shadow: 4px 4px 2px rgba(130, 138, 138, 0.8)
}


main.home section.home__box_products{
    margin :25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.home__product-box-image{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  /* image enlarge properties*/
    width: 250px;
    margin: 0 10px;
}


img.home__product_image{
    width: 30vh;
    height: 40vh;
 
    /* image enlarge properties*/
    
    display:block;
    border-radius: 3px;
    box-shadow:  rgba(94, 96, 96, 0.92) 0px 2px 16px 0px;
    
    
    


    

}

 
/* image enlarge properties*/

.home__producto-box-image:hover{
 
    transform: scale(1.4);
    transition: 0.5s; 
    z-index: 1s;
} 


/*Descripciones*/


span{
    background-color: #ffffff;
    border-radius: 5px;
    border: outset 0px 0px 0px 0px  rgb(242, 229, 202);
    display: block;
    font-family: "Cinzel";
    font-size: 1.5vh; 
    font-weight: 600;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 10px;
    
    text-align: center;
    width: 100%;
    height: 25px;
    

  
 }
 span.autor{
     margin-bottom: 30px;
     margin-top: 0px;
 }


 /* Aside*/

 aside section.home__aside_advertising{

    display: none;


 }



/*FOOTER*/

.home__footer{

    background-color: var(--colorFooterHome);
}

