*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background-color: #54BAB9;
    display: grid;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.login section{
    background-color: white;
    border-radius: 15px;
    margin-top: 60px;
    padding: 10px;
    width: 300px;
}
.login h1{
    text-transform: uppercase;
}
.login form{
    margin-top: 30px;
}
.login__form-box{
    margin-bottom: 20px;
}
.login__form-input{
    margin: 10px 0 0;
    padding: 10px 10px;
    width: 100%;
}
.login__form-box-remember{
    margin: 0 0 20px;
    text-align: end;
}


/* Botones */
.btn-ghost{
    background-color: grey;
    border: 2px solid transparent;
    border-radius: 15%;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 15px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s, background 0.5s;
}
.btn-ghost.languajes{
    background-color: transparent;
    border-color: white;
    color: black;
}
.btn-ghost.login{
    background-color: transparent;
    border-color: #ED2F51;
    color: #ED2F51;
}
/* ----------------------------------------------Diseño de Botones----------------------------------------------*/
/* Rounded Borders */
.btn-ghost.round{
    border-radius: 30px;
    font-size: 12px;
}
/* Shadows Apply */
.btn-ghost:active{
    box-shadow: inset 0 0 20px grey;
}
.btn-ghost.languajes:active{
    box-shadow: inset 0 0 20px white;
}
.btn-ghost.login:active{
    box-shadow: inset 0 0 20px white;
}
/* Transparent Effect Apply */
.btn-ghost:hover{
    background-color: transparent;
    border-color: grey;
    color: gray;
}
.btn-ghost.languajes:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}
.btn-ghost.login:hover{
    background-color: #ED2F51;
    border-color: transparent;
    color: white;
}