* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home__footer {
    background-color: var(--colorFooterHome);
    width: 100%;
}


.home__footer li {

   align-items:flex-start;
   padding: 10px 100px;  
   border-bottom: solid 2px var(--colorMainHome);

}


.home__footer li:last-child {

    padding-bottom: 30px;
    border:none; 
} 


.home__footer li, a {

    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;

}
.footer_container_images{

display: flex ;
justify-content: center; 
padding-top: 15px;

}
.radius{
    border-radius: 5px;
}

.home__footer li img {
    width: 5vh;
    height: 5vh;
    margin: 0px 5px 0px 5px; 

}


span.footer__link, span.footer__no_link {

    color: #10fffb;
    text-shadow: 0 0 5px #ffee10;
}

/* TABLET */

@media(min-width:768px){

    .home__footer li img {
        width: 5vh;
        height: 5vh;
        margin: 0px 10px 0px 10px; 
    
    }
    

}

/* DESKTOP */

@media(min-width:1024px){

    .home__footer__menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .home__footer li img {
        width: 4vh;
        height: 4vh;
        margin: 0px 5px 0px 5px; 

    }



    .home__footer li, a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
    .home__footer li {
        align-items: flex-start;
        padding: 10px 5px;
        border-bottom: none;
    }
    .footer__no_link, .footer__link{

        font-size: 15px;
        color:white;
        font-family: 'Cinzel';
        font-weight: 800;
    }
   
    
}