.is-valid {
    border: 1px solid rgb(39, 174, 96);
}
.is-invalid {
    border: 1px solid rgb(255, 0, 0);
}

html{
    scroll-behavior: smooth;
}

.home__box_products .no-found{
    color: tomato!important;
    text-shadow: 0 0 black;
    
}
.no-found-image{
    width: 90%;
}

.no-results-back{

    display: flex;
    justify-content: center;
}
