* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container_home_header_logo{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}




/*MAIN*/
body.home{
    background: #F1F1F1;
}

main.home h2 {
    padding-top: 2.5rem;
    padding-bottom: 15px;
    font-size: 16px;
    text-align: center;
    text-shadow: 3px 3px 2px rgb(130 138 138 / 70%);
    text-transform: uppercase;
    color: #000000;
}


.home__box_products{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
   

}
 .home__product{
   align-self: center;
} 

/*   Imagen    */
.home__product_image{
    

    width: 25vh;
    height: 35vh;
    box-shadow: rgba(94, 96, 96, 0.92) 0px 2px 16px 0px;
}





/* image enlarge properties*/

 .home__producto-box-image:hover {

    transform: scale(1.1);
    transition: 0.4s;
    z-index: 0.5s;
}
 

/*Descripciones*/
.home_main_container_span{
    width: 25vh;
    background: rgb(11, 58, 67);
    border-radius: 5px;
}


span.autor,
span.titulo {
   color:#fff;
    display: block;
    font-family: "Orelega one";
    font-size: 1.4vh;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    height: 25px;
    letter-spacing: .1rem;


}


span.autor {
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}


/* Aside*/
.home_titulo4{

    padding: 30px 0px 0px 0px;
    text-align: center;
    text-transform: uppercase;
}
.home_titulo3{
    
    padding: 20px 0px 30px 0px;
    text-align: center;
    text-transform: uppercase;

}


.home__advertising img {
    width: 100%;
    height: 45vh;
    padding-bottom: 20px;


}


/* scroll UP*/


div.home__main__up {

    text-align: right;
    

}

div.home__main__up i {
    color: rgb(10, 102, 119);
    font-size: 30px;
    padding: 10px;
    
}


/*           TABLET         RESPONSIVE          */

@media(min-width:768px) {
 /*    main.home {

        background: var(--colorMainHome);
       
    } */
    main.home {
    
        padding: 0vh 5vh;
    }

    .home_main_container_span{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 25vh;
        height: 6rem;
        margin-top: 1rem;
    }
    
        
    
    span.titulo,span.autor {
        font-family: "orelega one";
        font-size: 1.4vh;
        padding-left: 5px;
        padding-top: 10px;
        height: 40px; 
    }
    
    main.home h2 {
        padding-top: 2.5rem;
        padding-bottom: 20px;
        font-size: 25px;
       
    }
    .home__box_products{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;    
        
    }
     .home__product{
       
       margin: 10px 35px;
      
      
    } 
    
  

}



/*                 DESKTOP    RESPONSIVE          */

@media(min-width:1024px) {
 /*    main.home {

        background:var(--colorMainHome);
    
    } */
    main.home {
     
        padding: 0vh 15vh;
    }

    .home__box_products {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around; 
            margin: 0px 50px ;
            padding-bottom: 30px;
    }
    .home__product {
            margin: 10px 5px;
        
    }

    .home__producto-box-image:hover{ 

        transform: scale(1);
        transition: 0.4s;
        z-index: 0;
    }
    span.titulo,span.autor {
        
        font-size: 1.5vh;
        height: 50px;
    
        
        
    }
    .home__aside_advertising{
        display: none;
    }
    

}