.admi_editar{

   background-color: #0b7dda;
   border-bottom: none;
   text-shadow: none;
   margin: 1em 1.4em;
}
   



label.admi_label_edit{

  margin:15px 0px 5px 5px;
}

@media(min-width:768px){

  .admi_editar {
    background-color: #0b7dda;
    border-bottom: none;
    text-shadow: none;
    margin: 1em 1.5em;
  }
}
@media(min-width:1024px){
 .admi_editar {
  
  margin: 1em 3.5em;
 }
}