/* Heade */
h1{
    margin: 20px;
}

.main-product-cart{
    background: var(--colorMainHome);
}
.product-cart__product{
    display: flex;
    font-family: "Cinzel";
    margin: 20px 10px 30px;
    justify-content: space-evenly;
    align-items: center;
}
.product-cart__detail{
    margin: 15px;
}
/* Body */
body.product-cart{

    font-family: "Cinzel";



}
main.cart-product-main{

    background-color: var(--colorMainHome);
}

   
/*  titulo */
.cart_titulo_miCarrito{

    font-size: 20px;
    margin: 5px 0px 10px 35px;
    text-shadow: 3px 3px 2px rgb(130 138 138 / 70%);
}

/* vaciar carrito */

.cart_miCarrito{
    display: flex;
    justify-content: right;
    margin: 15px 30px 0px;
    
}

.cart_vaciar{

    background: #008CBA;
    font-family: inherit;
    padding: 0.8em 0.3em;
    font-weight: 600;
    font-size: 12px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    text-decoration: none;
    color: white;
    
}
.cart_vaciar:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.cart_vaciar:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

/* contendor imagen y span */
.cart__container{
     display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
  /* imagen */
.cart_product_img{
    margin: 20px 0px 5px; 
    width: 212px;
    height: 312px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.shadow_cart{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);

}

/* descripciones */
.cart__description{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 5px;
    width: 25vh;
    margin: 5px;
}


.cart__description span.titulo{

    font-size: 14px;
    font-weight: bolder;
    
}
.cart__description span.autor{

    font-size: 15px;
    
    
}
/* precio */
.cart_product-price{
    font-size: 20px;
    color:green;
    letter-spacing: 2px;
    font-weight: 900;
    padding-left:4vh;
  
    

}

/* selector de unidades */

.container__cart_product-select{
    display: flex;
    flex-direction: column;
    
}
 

.cart_product-select{
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5vh 0vh 1vh 1vh;
    
}


.cart__select{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 15px;
    width: 25vh;
    color: black;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
  
}



/* eliminar producto */
.cart_button_delete button {
  
     width: 25vh; 
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    margin-bottom: 25px;
   }
   
   .cart_button_delete button, .cart_button_delete button span {
    transition: 200ms;
   }
   
   .cart_button_delete button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .cart_button_delete button .icon {
    position: absolute; 
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   /* .cart_button_delete button svg {
    width: 15px;
    fill: #eee;
   } */
   .trash-delete{
       color:white
   }
   .cart_button_delete button:hover {
    background: #ff3636;
   }
   
   .cart_button_delete button:hover .text {
    color: transparent;
   }
   
   .cart_button_delete button:hover .icon {
    
    width: 25vh;
    border-left: none;
    transform: translateX(0);
   }
   
   .cart_button_delete button:focus {
    outline: none;
   }
   
   .cart_button_delete button:active .icon svg {
    transform: scale(0.8); 
    
   }

/*TOTAL Precio*/
.container_total{

    display: flex;
    justify-content: right;
    margin: 30px;
}

.container_total span{

    padding: 5px;
    font-weight: 800;
    font-size: 25px;
}
.container_total span.total_price{

   color:green;
}

/* botones finales*/

.cart_container_button{

    display: flex;
    text-align: center;
    justify-content: right;
  
   
}

.cart_container_button button{

    color: #090909;
    padding: 0.7em 1.4em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #4CAF50;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    margin: 25px 30px 40px 0px;
    
}

.cart_container_button button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }
.cart_container_button button.button-finish{

   
   background-color: #f44336;
   


}









/*           TABLET         RESPONSIVE          */

@media(min-width:768px) {
    
    .cart__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cart_product_img {
        margin: 20px 10px 15px 35px;
        width: 180px;
        height: 300px;
    }
    .cart__description {
        padding: 5px;
        width: 20vh;
        margin: 5px;
    }
    .container_total span {
    
        margin-right: 30px;
    }
    .cart__description span.titulo {
        font-size: 13px;
        font-weight: 100;
        height: 40px;
        
    }
    .cart_product-price {
        font-size: 20px;
        color: green;
        font-weight: 700;
        padding-left: 22px;
    }
    .cart__select {
        border: 2px solid black;     
        padding: 2px 5px;
        width: 15vh;
        font-weight: 600;
        font-size: 18px;
    }

    .cart_button_delete button {
        width: 22vh;
        height: 49px;
        display: flex;
        border: none;
        box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
        margin-right: 20px;
        margin-top: 33px;
        margin-left: 20px;
        
    }
    
    .cart_button_delete button .text {
        transform: translateX(35px);
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    .cart_button_delete button .icon {
        transform: none;
        padding-right: 10px;


    }
    .cart_container_button button {
        
        padding: 0.7em 1.2em;
        font-size: 20px;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
        width: 202px;
        margin: 25px 60px 40px 0px;
    }
}




/*                 DESKTOP    RESPONSIVE           */ 

@media(min-width:1024px) {

    .cart-product-main{
        width: 80%;
        margin:0 auto;
    }
    
    .a_button {
       
        margin-right: 7em;
        
    }
    .cart_titulo_miCarrito {
        
        margin: 1em 1em 0em 8em;
    }
    .cart_miCarrito {
        margin: 0em 8.5em 0em;
    }
    .cart_vaciar {
       
        font-family: 'Cinzel';
        padding: 0.8em 0.7em;
    }


    .cart_product_img {
        margin: 5em 1em 0em 10em;
        width: 20vh;
        height: 30vh;
    
    }
    .cart__description {
        width: 27vh;
        height: 13vh;
        justify-content: center;
        margin-top: 7em;
        border-radius: 5px;
    }
    .container__cart_product-select {
     
        margin-top: 7em;
    }
    .cart_button_delete button {
        width: 23vh;
        margin-top: 136px;
    }
    .cart_container_button {
        
        margin-top: 5em;

    }
    .cart_container_button button {
       
        font-family: 'Orelegon one';
    }
    div.container-button-product-detail {
        
        padding-bottom: 0px;
    }
  

}