@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');  
@import "./variables.css";
@import "./general.css";
@import "./header.css";
@import "./footer.css";
@import "./carousel.css";
@import "./home.css";
@import "./productDetail.css";
@import "./productCart.css";
@import "./login.css";
@import "./register.css";
@import "./productEdit.css";
@import "./productCreate.css";
@import "./admin.css";
@import "./questions.css";
@import "./darkmode.css";
