:root{

    --colorHeaderHome:#303030;
    --colorMainHome:#ffffff;
    --colorFooterHome:#303030;
    --colorListasFooter:#F7ECDE;
 
   /*  variables usadas en detalle producto */
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}   
