:root{

    --colorHeaderHome:#303030;
    --colorMainHome:#ffffff;
    --colorFooterHome:#2e2e2e;
    --colorListasFooter:#F7ECDE;
 
   /*  variables usadas en detalle producto */
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

    /* variables de preguntas frecuentes */

    --primario:#e23939;
    --gris-claro:#b8b8b8;
    --sombra:0 0 13px 0 rgba(185,185,185,.25);
    --respuesta :#808080;
 /* variables para dark mode */
    --dark:#000;
    --transition:.3s ease all;
    --light:#fff;
}   
