<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <h1><%= title %> </h1>

    <%- include('./partials/header') %>

    <img src="/images/fondos/lindo-fondo.webp" alt="">
    <a href="/">Volve Al Inicio</a>
</body>
</html>