<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:"Creacion de Producto"}) %> 
</head>
<body class="administrador">
    <%- include('./partials/header') %> 
       <!--  BOTON VOLVER -->
       <div class="container-button-product-detail admini">
        <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
    </div>
        
    <main class="admi_main">
      
        <!--   Empieza el formulario -->
<<<<<<< HEAD
              <form class="form_admi" action="" method="post" enctype="multipart/form-data">
=======
              <form class="form_admi" method="POST" enctype="multipart/form-data">
>>>>>>> 441d7fefb0bf83173fa8893ec8f72e78756f1f9f
                 <!--  Titulos -->
                 <h2 class="titulo_admi"> Formulario del Administrador</h2>
                 <h3 class="titulo_dos_admi">Adhesion de Libros</h3>

                <!--  seccion contenedora -->
                 <article>
                     <!-- Titulo del libro-->
                  <div class="admi__form-box">
                      <input class="admi_form-input" type="text" placeholder="Título del libro" name="name" id="name">
                      <span class="admi__text-error">Título Obligatorio</span>
                  </div>

                  <!-- Autor del libro-->
                  <div class="admi__form-box">
                      <input class="admi_form-input" type="text" placeholder="Autor del libro" name="autor" id="autor">
                      <span class="admi__text-error">Autor Obligatorio</span>
                  </div>

                  <!-- Precio del libro -->
                  <div class="admi__form-box">
                      <input class="admi_form-input" type="number" placeholder="$$ Precio del Libro" name="price" id="price">
                      <span class="admi__text-error"> Precio Obligatorio</span>
                  </div>
                 
                  <!-- Descripcion del libro-->
                  <div class="admi__form-box">
                     <textarea class="admi_form-input" name="description" id="description" cols="5" rows="5" placeholder="Agregue la sinopsis"></textarea>
                      <span class="admi__text-error">Sinopsis Obligatoria</span>
                  </div>

                 <!--  Editorial del libro -->
                  <div class="admi__form-box">
                    <input class="admi_form-input" type="text" placeholder="Editorial" name="publisher" id="publisher">
                    <span class="admi__text-error">Editorial Obligatorio</span>
                </div>
                 
<<<<<<< HEAD
                  <!-- Genero del libro-->
                  <div class="admi__form-box">
                      <select class="admi_select dropdown-select" name="genero" id="genero" >
                          <option  >Seleccione género Literario</option>
                          <option value="cf">Ciencia Ficción</option>
                          <option value="cla">Clásicos</option>
                          <option value="com">Cómics y Mangas</option>
                          <option value="hu">Humor</option>
                          <option value="na">Narrativa</option>
                          <option value="naro">Narrativa Romantica</option>
                          <option value="tea">Obras de Teatro</option>
                          <option value="poe">Poesía</option>
                          <option value="poli">Policiales</option>
                          <option value="ter">Terror</option>
                      </select>
                      <span class="admi__text-error">Género Obligatorio</span>
=======
                  <!-- -Genero del libro-->
                  <div class="admi__form-box">
                      <select class="admi_select dropdown-select" name="genre" id="genre" >
                          <option  hidden selected >Seleccione Genero Literario</option>
                          <option value="autoayuda">Autoayuda</option>
                          <option value="autobiografia">Autobiografía</option>
                          <option value="clasicos">Clásicos</option>
                          <option value="cienciaFiccion">Ciencia Ficción</option>
                          <option value="comicsYmanga">Cómics y Mangas</option>
                          <option value="narrativa">Narrativa</option>
                          <option value="narrativaRomantica">Narrativa Romantica</option>
                          <option value="management">Management</option>
                          <option value="teatro">Obras de Teatro</option>
                          <option value="poesia">Poesía</option>
                          <option value="policiales">Policiales</option>
                          <option value="terror">Terror</option>
                      </select>
                      <span class="admi__text-error">Genero Obligatorio</span>
>>>>>>> 441d7fefb0bf83173fa8893ec8f72e78756f1f9f
                  </div>

                 <!--  Idioma de Edicion -->
                  <div class="admi__form-box">
                      <select class="admi_select dropdown-select" name="language" id="language" >
                          <option>Seleccione Idioma de Edición</option>
                          <option value="ingles">Ingles</option>
                          <option value="español">Español</option>
                      </select>
                      <span class="admi__text-error">Idioma Obligatorio</span>
                  </div>
                    <!-- Portada del libro-->
                    <div class="admi__form-box">
                      <label class="admi_portada" for="Portada">Adjuntar Portada del Libro</label>
<<<<<<< HEAD
                      <input class="admi_file "  type="file" id="image" name="image"/>
=======
                      <input class="admi_file"  type="file" id="image" name="image" accept="image/*">
>>>>>>> 441d7fefb0bf83173fa8893ec8f72e78756f1f9f
                  </div>
                 </article>

                   <!-- Categoria de Edicion -->
                   <div class="admi__form-box">
                    <select class="admi_select dropdown-select" name="category" id="category" >
                        <option value="" hidden selected>Seleccione Categoria de Edición</option>
                        <option value="in-sale">In-sale</option>
                        <option value="relevant">Relevante</option>
                    </select>
                    <span class="admi__text-error">Categoria Obligatoria</span>
                </div>
                 
                <!--  envio y reset -->
                 <div class="botones_admi">
                  <button type="reset" class="admi_adherir admi_delete">Borrar</button>
                  <button type="submit" class="admi_adherir admi_submit">Guardar</button>
                 </div>   
              </form>
            
      </main>
      <%- include('./partials/footer') %> 
    
</body>
</html>