<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{ title :'Carrito de compras'}) %>

<body class="product-cart">
    <%- include('./partials/header') %>

    <!--  CARRUSEL-->
    
 <%- include('./partials/carousel') %> 
 
    <main class="main-product-cart">
        <div class="cart-product-main">
            <!--  BOTON VOLVER -->
            <div class="container-button-product-detail">
                <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
            </div>

            <!--  TITULO -->
            <h1 class="cart_titulo_miCarrito">MI CARRITO </h1>

            <div class="cart_miCarrito">

                <a class="cart_vaciar" href="">Vaciar Carrito</a>
            </div>

            <!--  SECCION PRODUCTOS -->
            <section class="cart__container ">
                <img src="/images/portadas/padreRicoPadrePobre.png" class="cart_product_img  shadow_cart" alt="" />
                <div class="cart__description">
                    <span class="titulo">PADRE RICO PADRE POBRE</span>
                    <span class="autor">Robert T. Kiyosaki</span>
                </div>

                <div class="container__cart_product-select">
                    <span class="cart_product-price">AR$ 1.000</span>
                    <div class="cart_product-select">
                        <select name="select" class="cart__select" name="" id="">
                            <option value="value1">1</option>
                            <option value="value2">2</option>
                            <option value="value3">3</option>
                        </select>
                    </div>
                </div>
                <div class="cart_button_delete">
                    <button class="noselect">
                        <span class="text">Eliminar</span>
                        <span class="icon">
                            <i class="fa-solid fa-trash-can trash-delete"></i>
                        </span>
                    </button>
                </div>
            </section>
            <!--  SECCION PRODUCTOS -->
            <section class="cart__container">
                <img src="/images/portadas/elPsicoanalista.png" class="cart_product_img shadow_cart" alt="" />
                <div class="cart__description">
                    <span class="titulo">EL PSICOANALISTA</span>
                    <span class="autor">John Katzenbach</span>
                </div>

                <div class="container__cart_product-select">
                    <span class="cart_product-price">AR$ 1.000</span>
                    <div class="cart_product-select">
                        <select name="select" class="cart__select" name="" id="">
                            <option value="value1">1</option>
                            <option value="value2">2</option>
                            <option value="value3">3</option>
                        </select>
                    </div>
                </div>
                <div class="cart_button_delete">
                    <button class="noselect">
                        <span class="text">Eliminar</span>
                        <span class="icon">
                            <i class="fa-solid fa-trash-can trash-delete"></i>
                        </span>
                    </button>
                </div>
            </section>
            <!--  SECCION PRODUCTOS -->
            <section class="cart__container">
                <img src="/images/portadas/losAñosPerdidos.png" class="cart_product_img shadow_cart" alt="" />
                <div class="cart__description">
                    <span class="titulo">LOS AÑOS PERDIDOS</span>
                    <span class="autor">Mary Higgins Clark</span>
                </div>

                <div class="container__cart_product-select">
                    <span class="cart_product-price">AR$ 1.000</span>
                    <div class="cart_product-select">
                        <select name="select" class="cart__select" name="" id="">
                            <option value="value1">1</option>
                            <option value="value2">2</option>
                            <option value="value3">3</option>
                        </select>
                    </div>
                </div>
                <div class="cart_button_delete">
                    <button class="noselect">
                        <span class="text">Eliminar</span>
                        <span class="icon">
                            <i class="fa-solid fa-trash-can trash-delete"></i>
                        </span>
                    </button>
                </div>
            </section>
            <section class="container_total">
                <span>TOTAL:</span>
                <span class="total_price"> AR$10.000</span>

        </div>


        </section>
        <!--  BOTONES FINALES -->
        <section class="cart_container-options">
            <div class="cart_container_button">
                <button class="button-continue">Seguir Comprando</button>
                <button class="button-finish">Finalizar Compra</button>
            </div>
        </section>
        <div class="home__main__up">
            <a href="#"><i class="fa-solid fa-circle-chevron-up"></i></a>
        </div>

        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="/javascript/carousel.js"></script>
</body>

</html>