<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head' ,{ title : 'Preguntas Frecuentes'}) %> 

<body class="questions">
    <%- include('./partials/header') %> 
    
    <!--  CARRUSEL-->
    
 <%- include('./partials/carousel') %>      
    <!--  CUERPO  -->
    <main class="questions">
       <h1 class="questions-title">Preguntas Frecuentes</h1>
       <div class="questions-categories" id="categories" >
        <div class="category activa" data-category="metodos-pago">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M20.167 16.649v.351h-.334v-.333c-.344-.006-.702-.088-1-.242l.152-.548c.254.099.574.202.861.202l.213-.022c.383-.086.462-.48.039-.67-.311-.145-1.26-.269-1.26-1.081 0-.455.346-.861.994-.95v-.356h.334v.339c.24.006.512.049.814.141l-.121.548c-.232-.081-.487-.156-.738-.156l-.076.002c-.496.029-.541.459-.193.639.569.268 1.314.467 1.314 1.181.001.573-.446.878-.999.955zm3.833-1.649c0 2.209-1.791 4-4 4s-4-1.791-4-4 1.791-4.001 4-4.001 4 1.792 4 4.001zm-1 0c0-1.654-1.346-3.001-3-3.001s-3 1.347-3 3.001 1.346 3 3 3 3-1.346 3-3zm-16-4c0 1.656 1.344 3 3 3s3-1.344 3-3-1.344-3-3-3-3 1.344-3 3zm3.883-1.368l-.108.493c-.23-.08-.485-.154-.733-.139-.446.026-.486.413-.174.575.514.242 1.182.42 1.182 1.063.002.515-.401.791-.898.86v.315h-.302v-.299c-.311-.005-.632-.079-.898-.217l.135-.493c.287.11.669.229.968.162.345-.078.415-.433.034-.604-.279-.129-1.133-.242-1.133-.973 0-.409.312-.775.895-.855v-.319h.301v.305c.215.005.459.043.731.126zm3.917 5.368h-12.8v-8h16v3.201c.616-.258 1.291-.402 2-.402v-4.799h-20v12h15.202c-.258-.616-.402-1.292-.402-2z"/></svg>
            <p>Métodos de Pago</p>
        </div>
        <div class="category" data-category="entregas">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M5 11v1h8v-7h-10v-1c0-.552.448-1 1-1h10c.552 0 1 .448 1 1v2h4.667c1.117 0 1.6.576 1.936 1.107.594.94 1.536 2.432 2.109 3.378.188.312.288.67.288 1.035v4.48c0 1.089-.743 2-2 2h-1c0 1.656-1.344 3-3 3s-3-1.344-3-3h-4c0 1.656-1.344 3-3 3s-3-1.344-3-3h-1c-.552 0-1-.448-1-1v-6h-2v-2h7v2h-3zm3 5.8c.662 0 1.2.538 1.2 1.2 0 .662-.538 1.2-1.2 1.2-.662 0-1.2-.538-1.2-1.2 0-.662.538-1.2 1.2-1.2zm10 0c.662 0 1.2.538 1.2 1.2 0 .662-.538 1.2-1.2 1.2-.662 0-1.2-.538-1.2-1.2 0-.662.538-1.2 1.2-1.2zm-3-2.8h-10v2h.765c.549-.614 1.347-1 2.235-1 .888 0 1.686.386 2.235 1h5.53c.549-.614 1.347-1 2.235-1 .888 0 1.686.386 2.235 1h1.765v-4.575l-1.711-2.929c-.179-.307-.508-.496-.863-.496h-4.426v6zm1-5v3h5l-1.427-2.496c-.178-.312-.509-.504-.868-.504h-2.705zm-16-3h8v2h-8v-2z"/></svg>
            <p>Entregas</p>
        </div>
        <div class="category" data-category="seguridad">
            <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M6 6c0-3.311 2.689-6 6-6s6 2.688 6 6v4h3v14h-18v-14h3v-4zm14 5h-16v12h16v-12zm-13-5v4h10v-4c0-2.76-2.24-5-5-5s-5 2.24-5 5z"/></svg>
            <p>Seguridad</p>
        </div>
        <div class="category" data-category="cuenta">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2 4v16.002c0 .385.22.735.567.902.346.166.758.119 1.058-.121l4.725-3.781h12.65c.552 0 1-.448 1-1v-12.002c0-.552-.448-1-1-1h-18c-.552 0-1 .448-1 1zm18.5 11.502h-12.677l-4.323 3.46v-14.462h17zm-8.502-6.5c.414 0 .75.336.75.75v3.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-3.5c0-.414.336-.75.75-.75zm.002-3c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z" fill-rule="nonzero"/></svg>
            <p>Cuenta</p>
        </div>
       </div>

       <div class="questions-global">
       <!--  PREGUNTAS SOBRE METODOS DE PAGO -->
        <div class="questions-box activo" data-category="metodos-pago">
            <div class="question-box">
                <p class="question">¿Cuáles son los métodos de pago disponibles?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer"> Los métodos de pago con los que actualmente cuenta "Book is Life" son Mercado Pago, Visa tanto débito como crédito y Mastercard</p>
            </div>
            <div class="question-box">
                <p class="question">¿Cual es el límite de cuotas en las que puedo pagar?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Al elegir pagar con tarjeta de crédito, podés pagar en hasta 12 cuotas sin interes</p>
            </div>
            <div class="question-box">
                <p class="question">¿Hacen algun descuento abonando en efectivo?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer"> Si abonás en efectivo, tenés un 10% de descuento tambien si pagas por Mercado Pago. git</p>
            </div>
        </div>
            
       <!--  PREGUNTAS SOBRE ENTREGAS -->
        <div class="questions-box" data-category="entregas">
            <div class="question-box">
                <p class="question">¿Cuáles son las zonas a las que hacen envíos?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer"> "Book is Life" realiza envios a todo CABA, sin cargo.</p>
            </div>
            <div class="question-box">
                <p class="question">¿Que pasa si hay un día u horario en el que no puedo recibir mi pedido?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Podés contactarnos para hacerle saber a la empresa de envíos que ese día u horario no estarás en tu domicilio, así podemos programar en el próximo día de tu Zona.</p>
            </div>
            <div class="question-box">
                <p class="question">¿En que horario puede llegar mi pedido?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">cinco dias hábiles después de la compra, los pedidos llegan de Lunes a Viernes  entre las 7 y las 15:30hs. Se puede extender hasta las 17 hs. Y los dias Sabados de 7 a 11hs.</p>
            </div>
        </div>

       <!--  PREGUNTAS SOBRE SEGURIDAD -->
        <div class="questions-box" data-category="seguridad">
            <div class="question-box">
                <p class="question">¿Puedo cancelar un producto luego de realizada la compra?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Para cancelar un producto envíe un e-mail a ventas@bookislife.com informando el número de compra.</p>
            </div>
            <div class="question-box">
                <p class="question">¿Puedo cancelar una compra luego de realizada?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Para cancelar una compra envíe un e-mail a ventas@bookislife.com informando el número de compra que quiere cancelar. Si la compra ya hubiera sido enviada, al recibir el paquete debe rechazarlo informando que lo devuelvan al remitente.</p>
            </div>
            <div class="question-box">
                <p class="question">¿Es seguro usar tarjeta de crédito?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Para resguardar la seguridad de los datos en internet se han desarrollado un número de protocolos y aplicaciones usando técnicas de encriptación.
                    En Book is Life la seguridad está garantizada por el uso de los protocolos Secure HTTP y Secure Sockets Layer (SSL) que proveen de autenticación para servidores y navegadores. Como así también mantienen la confidencialidad e integridad de los datos por las comunicaciones entre su navegador y nuestro servidor.
                    Cuando un dato es enviado desde su navegador al servidor de Book is Life, el mismo es encriptado, y de esta forma se mantiene a personas no autorizadas lejos de poder interceptar o ver estos datos. </p>
            </div>
        </div>

       <!--  PREGUNTAS SOBRE MI CUENTA -->
        <div class="questions-box" data-category="cuenta">
            <div class="question-box">
                <p class="question">¿Puedo verificar mis compras?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer"> Sí, es posible ver el estado de sus compras. En el márgen superior derecho presione en "Mi cuenta", y en el menú desplegable presione sobre "Mis Compras".
                    Se exhibirán todas las compras realizadas a Book is Life, en proceso o cerradas. En +info se despliega el detalle completo de la compra.</p>
            </div>
            <div class="question-box">
                <p class="question">¿Puedo anular mi suscripción?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Podés anular la suscripción en cualquier momento, solo debes mandar un mail a suscripciones@bookislife.com.</p>
            </div>
            <div class="question-box">
                <p class="question">¿si no accedo a mi cuenta por mucho tiempo se me dará de baja?<img src="/images/preguntasFrecuentes/suma.svg" alt=""></p>
                <p class="answer">Tu cuenta estará vigente  en Book is Life, mientras que no este inactiva por más de un año</p>
            </div>
        </div>

       </div>





           <!-- BOTON SCROLL UP -->
           <div class="home__main__up">
            <a href="#"><i class="fa-solid fa-circle-chevron-up"></i></a>
        </div>
    </main>
    

    <%- include('./partials/footer') %> 
    <script src="/javascript/categories.js"></script>
    <script src="/javascript/questions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="/javascript/carousel.js"></script>
    <script src="/javascript/darkmode.js"></script>
</body>
</html>