<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head' ,{ title : 'Mi perfil'}) %> 


<body class="register user">
    <%- include('./partials/header') %> 

    <main>
        <section>
            <h1>Mi usuario</h1>
            <hr>
            <form method="POST" action="/users/update-profile?_method=PUT">
                <article>
                <div class="register__form-box">
                    <label for="nombre">Nombre</label>
                    <input class="register__form-input form-control " type="text" id="nombre" name="nombre" placeholder="Escribí tu nombre" value="">
                     <span class="register__text-error"></span>
                </div>
                <div class="register__form-box">
                    <label for="apellido">Apellido</label>
                    <input class="register__form-input form-control " type="text" id="apellido" name="apellido" placeholder="Escribí tu apellido"  value="">
                    <span class="register__text-error"></span>
                </div>
                <div class="register__form-box">
                    <label for="email">Email</label>
                    <input class="register__form-input form-control" type="email" id="email" name="email" placeholder="Escribí tu email"  value="" >
                    <span class="register__text-error"></span>
                </div>
            
                        <div class="d-flex justify-content-around align-items-center ">
                            <button class="me-2" type="submit">Guardar</button>
                            <a href="/">
                                <button type="button">Volver</button>
                            </a>
                        </div>
 
                     <article>
                      
              
            </form>
        </section>

    </main>


    </main>

</body>

</html>