
<div class="carousel">
    <div class="carousel__contenedor">
        <button aria-label="Anterior" class="carousel__anterior">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <div class="carousel__lista">
            <div class="carousel__elemento">
                <img class="image-carousel" src="/images/banner/baner-1.jpg" alt="">
               
            </div>
            <div class="carousel__elemento">
                <img class="image-carousel" src="/images/banner/baner-2.jpg" alt="">
               
            </div>
            <div class="carousel__elemento">
                <img class="image-carousel" src="/images/banner/baner-3.jpg" alt="">
               
            </div>
            <div class="carousel__elemento">
                <img class="image-carousel" src="/images/banner/baner-4.jpg" alt="r">
                
            </div>

            <div class="carousel__elemento">
                <img class="image-carousel" src="/images/banner/baner-5.jpg" alt="">
               
            </div>
            <div class="carousel__elemento">
                <img class="image-carousel" src="/images/banner/baner-6.jpg" alt="">
               
            </div>
           
        </div>

        <button aria-label="Siguiente" class="carousel__siguiente">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>

    <div role="tablist" class="carousel__indicadores"></div>
</div>