<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Book Is Life | Home</title>
</head>

<body class="home">
    <header class="header">
        <nav class="header_nav">
            <li><a href="">Login<i></i></a></li>
            <li><a href="">carrito<i></i></a></li>
            <li><a href="">Contacto<i></i></a></li>
            <li><a href="">English<i></i></a></li>
        </nav>

        <div class="header_logo">
            <img src="" alt="Logo1">
        </div>

        <div class="header_logo2">
            <img src="" alt="Logo2">
        </div>
        <div class="header_button_burguer">
            <button class="header_burguer">Hamburguesa</button>
        </div>
        <div class="header_buscador">
            <input type="text" placeholder="Encuentra tu libro ideal" />
            <button>Buscar</button>
        </div>
        <div class="header_banner">
            <img src="" alt="banner">
        </div>
    </header>


    <main class="contain">

        <h2>Los mas vendidos</h2>

        <div class="main_popular1">
            <article class="main_popular1_libro">
                <a href="">
                    <img src="" alt="libro">
                </a>
                <span> Titulo </span>
                <span>Autor</span>
            </article>
            
            <article class="main_popular1_libro">
                <a href="">
                    <img src="" alt="libro">
                </a>
                <span> Titulo </span>
                <span>Autor</span>
            </article>

            <article class="main_popular1_libro">
                <a href="">
                    <img src="" alt="libro">
                </a>
                <span> Titulo </span>
                <span>Autor</span>
            </article>
        </div>

    </main>
    <footer>

    </footer>
</body>

</html>