<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/92928bcf15.js" crossorigin="anonymous"></script>
    <title>Book Is Life | Home</title>
</head>

<body class="home">
    <header class="home__header">
        <nav class="header_nav">
            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="/register"><i class="fa-solid fa-envelope"></i></a></li>
            <li class="idioma"><a href=""><i class="fa-solid fa-globe"></i> English</a></li>
        </nav>
        <div class="header_logo">
            <img class="logo1" src="/images/logo-proyect.png" alt="Logo1">
            <img class="logo2" src="/images/logo-proyect2.png" alt="Logo2">
        </div>
        <div class="header_buscador">
            <button class="header_burguer"><i class="fa-solid fa-bars"></i></button>
            <input  type="text" placeholder="Encuentra tu libro ideal" />
            <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="header_banner">
            <img src="/images/banner2.jpg" alt="banner">
        </div>

    </header>


    <main class="home">

        <h2>Los mas vendidos</h2>

        <section class="home__box_products">
            <article class="home__product" >
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro1.jpg" alt="libro">
                </a>
                </div> 
                <span class="titulo"> Titulo: EL DIARIO DE ANA FRANK </span>
                <span class="autor">Autor: Ana Frank</span>
            </article>

            <article class="home__product">
                <div class="home__producto-box-image">
                    <a href="">
                        <img class="home__product_image" src="/images/libro2.png" alt="libro">
                    </a>
                </div>
                <span class="titulo"> Titulo: EL PSICOANALISTA </span>
                <span class="autor">Autor: John Katzenbach</span>
            </article>
            
            <article class="home__product" > 
                <div class="home__producto-box-image">
                    <a href="">
                    <img class="home__product_image" src="/images/libro3.png" alt="libro">
                </a>
                </div> 
                <span class="titulo"> Titulo: EL PODER DEL AHORA </span>
                <span class="autor">Autor: Eckhart Tolle</span>
            </article>

            <article  class="home__product">
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro4.png" alt="libro">
                </a>
                </div>
                <span class="titulo"> Titulo: EL MONJE QUE VENDIÓ SU FERRARI </span>
                <span class="autor">Autor: Robin Sharma</span>
                
            </article>

            <article class="home__product" >
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro5.png" alt="libro">
                </a>
                </div> 
                <span class="titulo"> Titulo: EL DIARIO DE ANA FRANK </span>
                <span class="autor">Autor: Ana Frank</span>
            </article>

            <article class="home__product" >
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro6.png" alt="libro">
                </a>
                </div>
                <span class="titulo"> Título: EL HOMBRE EN BUSCA DEL SENTIDO </span>
                <span class="autor">Autor: Viktor Frankl</span>
            </article>

            <article  class="home__product">
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro7.png" alt="libro">
                </a>
                </div>
                <span class="titulo"> Título: PADRE RICO, PADRE POBRE </span>
                <span class="autor">Autor: Robert T. Kiyosaki</span>
            </article>

            <article class="home__product" >
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro8.png" alt="libro">
                </a>
                </div>
                <span class="titulo"> Título: LOS CUATRO ACUERDOS </span>
                <span class="autor">Autor: Dr. Miguel Ruiz</span>
            </article>

            <article  class="home__product">
                <div class="home__producto-box-image">
                <a href="">
                    <img class="home__product_image" src="/images/libro9.png" alt="libro">
                </a>
                </div>
                <span class="titulo"> Título: TE ESPERARÉ TODA MI VIDA </span>
                <span class="autor">Autor: Megan Maxwell</span>
            </article>
        </section>
        <aside>
            <section class="home__aside_advertising">
                <h3>TE PUEDE INTERESAR:</h3>
                <article class="home__advertising">
                    <a href="">
                        <img src="/images/advertising.png" alt="">
                    </a>
                    
                </article>
                <article class="home__advertising">
                    <a href=""><img src="/images/advertising1.jpg" alt=""></a>
                 
                </article>
                <article class="home__advertising">
                    <a href=""><img src="/images/advertising2.jpg" alt=""></a>
                  
                </article>
              
            </section>

            <div class="home__main__up">
                <i class="fa-solid fa-circle-up"></i>
            </div>

    </main>
    <footer class="home__footer">
        <nav class="home__nav">
            <ul class="home__menu">
                <li><a href=""><i class="fa-solid fa-house"></i>Quienes Somos</a></li>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i>Atención al cliente</a></li>
                <li><a href=""><i class="fa-brands fa-linkedin"></i>Trabaja con Nosotros</a></li>
                <li>
                    <img src="/images/mercadopago.png" alt="">
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    Medios de Pago
                </li>
                <li>
                    <a href="">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    Seguí Nuestras Redes
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
</body>

</html>