<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/92928bcf15.js" crossorigin="anonymous"></script>
    <title>Book Is Life | Producto Detalle</title>
</head>

<body>
    <header class="home__header">
        <nav class="header_nav">
            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a href="/register"><i class="fa-solid fa-envelope"></i></a></li>
            <li class="idioma"><a href=""><i class="fa-solid fa-globe"></i> English</a></li>
        </nav>
        <div class="header_logo">
            <img class="logo1" src="/images/logos/logo-proyect.png" alt="Logo1">
            <img class="logo2" src="/images/logos/log2-mobile.png" alt="Logo2">
        </div>


        <div class="header_buscador">

            <input type="text" placeholder="Encuentra tu libro ideal" />
            <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="categorias"><span><i class="fa-solid fa-bars"></i></span>
            <nav class="header_nav_cate">

                <ul>

                    <li class="container-submenu"><a class="titulo" href="">Categorias <i
                                class="fa-solid fa-angle-down"></i></a>
                        <ul class="submenu">
                            <li class="menu-item"><a class="menu-link" href="#">Arte</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Autoayuda</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Ciencias de la Salud</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Computacion y Sistemas</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Derecho y C. Sociales</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Enciclopedias</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Esoterismo</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Ficcion y Literatura</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Gastronomia y Hoteleria</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Humanidades</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Infantil y Juvenil</a></li>
                            <li class="menu-item"><a class="menu-link" href="#">Mapas y Guias de Turismo</a></li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        <main>

        </main>

        <footer class="home__footer">
            <nav class="home__nav">
                <ul class="home__menu">
                    <li>
                        <a href="https://www.facebook.com"> <span class="footer__link">Seguínos en </span>
                            <img src="/images/redes-img/Facebook.png" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com/">
                            <img src="/images/redes-img/instagram.png" alt="instagram">
                        </a>
                        <a href="https://twitter.com">
                            <img src="/images/redes-img/twitter.png" alt="twitter">
                        </a>
                    </li>
                    <li>
                        <a href="/"><span class="footer__link">Quiénes Somos</span>
                            <img src="/images/footer-img/icn-14.png" alt="Quienes Somos">
                        </a>
                    </li>
                    <li>
                        <a href=""><span class="footer__link">Atención al cliente</span>
                            <img src="/images/footer-img/WhatsApp.png" alt="WhatsApp">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"> <span class="footer__link">Trabajá con Nosotros</span>
                            <img src="/images/footer-img/LinkedIN.png" alt="LinkedIN"></a>
                    </li>
                    <li>
                        <span>Medios de Pago</span>
                        <img src="/images/pagos-img/mercadoPago.png" alt="mercado-pago">
                        <img src="/images/pagos-img/visa.png" alt="visa">
                        <img src="/images/pagos-img/mastercard.png" alt="mastercard">
                        <img src="/images/pagos-img/amex.png" alt="amex">
                    </li>
                </ul>
            </nav>

        </footer>
</body>

</html>