<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:"Creacion de Producto"}) %> 
</head>
<body class="administrador">
    <%- include('./partials/header') %> 
    <main class="admi_main">
        
        <!--   Empieza el formulario -->
              <form class="form_admi" action="" method="">
                 <!--  Titulos -->
                 <h2 class="titulo_admi"> Formulario del Administrador</h2>
                 <h3 class="titulo_dos_admi">Adhesion de Libros</h3>
                <!--  seccion contenedora -->
                 <article>
                     <!-- Titulo del libro-->
                  <div class="admi__form-box">
                      <input class="admi_form-input" type="text" placeholder="Título del libro" name="titulo" id="titulo">
                      <span class="admi__text-error">Título Obligatorio</span>
                  </div>
                  <!-- Autor del libro-->
                  <div class="admi__form-box">
                      <input class="admi_form-input" type="text" placeholder="Autor del libro" name="autor" id="autor">
                      <span class="admi__text-error">Autor Obligatorio</span>
                  </div>
                  <div class="admi__form-box">
                      <input class="admi_form-input" type="number" placeholder="$$ Precio del Libro" name="precio" id="precio">
                      <span class="admi__text-error"> Precio Obligatorio</span>
                  </div>
                 
                  <!-- Descripcion del libro-->
                  <div class="admi__form-box">
                     <textarea class="admi_form-input" name="sinopsis" id="sinopsis" cols="5" rows="5" placeholder="Agregue la sinopsis"></textarea>
                      <span class="admi__text-error">Sinopsis Obligatoria</span>
                  </div>
                 
                  <!-- Categoria del libro-->
                  <div class="admi__form-box">
                      <select class="admi_select dropdown-select" name="categoria" id="categoria" >
                          <option  >Seleccione Categoria Literaria</option>
                          <option value="cf">Ciencia Ficción</option>
                          <option value="cla">Clásicos</option>
                          <option value="com">Cómics y Mangas</option>
                          <option value="hu">Humor</option>
                          <option value="na">Narrativa</option>
                          <option value="naro">Narrativa Romantica</option>
                          <option value="tea">Obras de Teatro</option>
                          <option value="poe">Poesía</option>
                          <option value="poli">Policiales</option>
                          <option value="ter">Terror</option>
                      </select>
                      <span class="admi__text-error">Categoria Obligatoria</span>
                  </div>
                  <div class="admi__form-box">
                      <select class="admi_select dropdown-select" name="idioma" id="idioma" >
                          <option>Seleccione Idioma de Edición</option>
                          <option value="i">Ingles</option>
                          <option value="e">Español</option>
                      </select>
                      <span class="admi__text-error">Idioma Obligatorio</span>
                  </div>
                    <!--  stock -->
                    <div class="admi__form-box">
                      <select class="admi_select dropdown-select" id="selectNumber">
                          <option>Cantidad Disponible en Stock</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      <span class="admi__text-error">Indique el stock</span>
                  </div>
  
                    <!-- Portada del libro-->
                    <div class="admi__form-box">
                      <label class="admi_portada" for="Portada">Adjuntar Portada del Libro</label>
                      <input class="admi_file "  type="file" id="foto" name="foto"/>
                  </div>
                 </article>
                <!--  envio y reset -->
                 <div class="botones_admi">
                  <button type="reset" class="admi_adherir admi_delete">Borrar</button>
                  <button type="submit" class="admi_adherir admi_submit">añadir</button>
                 </div>   
              </form>
            
      </main>
      <%- include('./partials/footer') %> 
    
</body>
</html>